# Python / Django
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
backend/venv/

# Django
db.sqlite3

# Logs
logs/
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Node / React Native (на будущее)
node_modules/
npm-debug.log*
yarn-error.log*
